<section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">skills</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="experience-sub-title">Software Developer</h2>
          <div class="article-container">
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>ASP.NET</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>ASP.NET Core MVC</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>C#</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>JavaScript</h3>
                <p>Experienced</p>
              </div>
            </article>
          </div>
        </div>
        <div class="details-container">
          <h2 class="experience-sub-title">Software Developer</h2>
          <div class="article-container">
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>HTML,CSS</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>SQL</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Microsoft SQL server management</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Git</h3>
                <p>Experienced</p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">Soft skills</h2>
        <div class="article-container">
          <article>
            <img
              src="./assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>Team Collaboration</h3>
            </div>
          </article>
          <article>
            <img
              src="./assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>Continuous Learning</h3>
            </div>
          </article>
          <article>
            <img
              src="./assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>Flexibility and Adaptability</h3>
            </div>
          </article>
          <article>
            <img
              src="./assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>Time management</h3>
            </div>
          </article>
        </div>
      </div>
    </div>
    </div>
    <img
      src="./assets/arrow.png"
      alt="Arrow icon"
      class="icon arrow"
      onclick="location.href='./#contact'"
    />
</section>
  